# Maching-Learning-Resources project

# Maching-Learning-Resources project structure


How To/How_to_Anomaly_Detection/.ipynb_checkpoints
How To/How_to_Anomaly_Detection/Beginning_Anomaly_Detection_Book

How To/How_to_Clasifications/.ipynb_checkpoints

How To/How_to_Data_Preparation/.ipynb_checkpoints
How To/How_to_Data_Preparation/How_to_01_Data_Cleaning/.ipynb_checkpoints
How To/How_to_Data_Preparation/How_to_02_Feature_Selection/.ipynb_checkpoints
How To/How_to_Data_Preparation/How_to_03_Data_Transforms/.ipynb_checkpoints
How To/How_to_Data_Preparation/How_to_04_Feature_Engineering/.ipynb_checkpoints
How To/How_to_Data_Preparation/How_to_05_Dimensionality_Reduction/.ipynb_checkpoints

How To/How_to_Probability/.ipynb_checkpoints
How To/How_to_Regresions/.ipynb_checkpoints
How To/How_to_Statistics/.ipynb_checkpoints
How To/How_to_Visualizacion/.ipynb_checkpoints
