# Maching-Learning-Resources project

# Maching-Learning-Resources project structure
How To/How_to_Data_Preparation/How_to_01_Data_Cleaning/.ipynb_checkpoints
How To/How_to_Anomaly_Detection/.ipynb_checkpoints
How To/How_to_Anomaly_Detection/Beginning_Anomaly_Detection_Book